.component {
  margin-bottom: 16px !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.tags {
  margin-bottom: 10px;
}

.author {
  display: block;
  margin-top: 10px;
  text-align: end;
}

.date {
  text-align: end;
}
