.form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 6px;
}

.field {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.forgotLink {
  display: inline-block;
  opacity: 0.5;
  cursor: not-allowed;
}
