.button {
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;

  &:hover svg {
    fill: #69b1ff
  }
}

.icon {
  /* stylelint-disable-next-line no-descending-specificity */
  & svg {
    fill: #1677ff;
  }
}
