.component {
  padding: 30px 0;
}

.colLeft {
  margin-right: 30px;
}

.tags {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 12px;
}

.statusApproved {
  margin-bottom: 12px;
}

.bottomButtons {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

.delete {
  margin-right: 10px;
}
