.component {
  padding: 30px 0;
}

.colLeft {
  margin-right: 30px;
}

.tags {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 12px;
}

.statusApproved {
  margin-bottom: 12px;
}

.colComments {
  width: 100%;
  margin-left: 430px;
  margin-top: 20px;
}
