.colLeft {
  margin-right: 30px;
}

.tags {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 12px;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.switcher {
  margin-left: 10px !important;
}

.author {
  display: block;
  margin-top: 12px;
}
