.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upload {
  width: 100%;
}

.button {
  display: block;
  width: max-content;
  padding: 4px 8px;
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.delete {
  border: 1px solid #ff7875;
  color: #ff7875;
  margin-bottom: 14px;

  &:hover {
    box-shadow: inset 0 4px 8px rgb(255 120 117 / 30%);
  }
}
