.component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 7px;
  border: 1px solid #bae637;
  border-radius: 4px;
  background-color: #f4ffb8;
  cursor: pointer;
}

.icon {
  margin-left: 6px;
}
